<div id="map" style="width: 100%; height: 70vh;" data-markers="<%= markers.to_json %>"></div>

<% content_for(:after_js) do %>
  <script>
    const handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(displayOnMap,error);
      }

      function error(error) {
        $("input[type='hidden']").remove();
        $('#distanceform').prepend("<input id='location' name='location' value=''>");
        $('#distanceform').prepend("<label for='location'>Location:</label>");
      };

      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });


    function displayOnMap(position){
      const lat = position.coords.latitude
      const lng = position.coords.longitude
      coords = lat + ',' + lng
      $('input[name="location"]').val(coords)

      const marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude,
        picture: {
          url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
          width:  36,
          height: 36
        },

      });
      handler.bounds.extendWith(marker);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      // send(coords);
    };

    // function send(coords){
    //   $.ajax({
    //     url : "<%= shops_path %>",
    //     type : "get",
    //     contentType: "json",
    //     data: { coords: coords },
    //   })
    // };



  </script>
<% end %>
