.link i {
  padding: 0 20px;
  font-size: 19px;
  color: #B1B1B1;
}
.link i:hover {
  color: #D3473C !important;
  text-decoration: none;
}
.title{
  margin: 20px 0px;
}
.name{
  font-size: 28px;
}
.infos{
  margin-left: 100px;
  i {
    width: 60px;
    padding: 0 20px;
    font-size: 19px;
    color: #B1B1B1;
  }
}
.flex-vertical{
  display:flex;
  flex-direction: column;
  div {
    margin-top: 10px;
  }
}
.chain{
  margin-left: 65px;
}
